In [3]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn import svm

In [79]:
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)

In [80]:
data=pd.read_csv("train.csv")

In [81]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [82]:
data.drop(["PassengerId","Name","Ticket","Cabin"], axis=1, inplace=True)

In [83]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [84]:
le=preprocessing.LabelEncoder()

In [85]:
data["Sex"]=le.fit(data["Sex"]).transform(data["Sex"])

In [86]:
data["Embarked"]=le.fit(data["Embarked"]).transform(data["Embarked"])

In [87]:
data.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [88]:
data["Age"]=data["Age"].round()

In [98]:
data["Fare"]=data["Fare"].round()

In [99]:
m=['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked']

In [109]:
def accuracy_counter(m):
    k=0
    for i in m:
        y=data[i]
        X=data.drop(i,axis=1)
        X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)
        clf = svm.SVC(gamma=0.01,C=100)
        y_pred=clf.fit(X_train,y_train).predict(X_test)
        print(i,accuracy_score(y_test,y_pred))
        k=k+1
        if(k>8):
            break

In [110]:
accuracy_counter(m)

Survived 0.7303370786516854
Pclass 0.8876404494382022
Sex 0.7340823970037453
Age 0.16104868913857678
SibSp 0.7602996254681648
Parch 0.797752808988764
Fare 0.4419475655430712
Embarked 0.7602996254681648