In [114]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

## **importing the dataset**

In [115]:
data=pd.read_csv("general_data.csv")

In [116]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

## **EDA**

### **converting the string to number using LabelEncoder**

In [117]:
from sklearn import preprocessing

In [118]:
label_encoder=preprocessing.LabelEncoder()

In [119]:
attrition=label_encoder.fit_transform(data["Attrition"])

In [120]:
data["Attrition"]=attrition

In [121]:
travel=label_encoder.fit_transform(data["BusinessTravel"])

In [122]:
data["BusinessTravel"]=travel

In [123]:
department=label_encoder.fit_transform(data["Department"])

In [124]:
data["Department"]=department

In [125]:
education_field=label_encoder.fit_transform(data["EducationField"])

In [126]:
data["EducationField"]=education_field

In [127]:
gender=label_encoder.fit_transform(data["Gender"])

In [128]:
data["Gender"]=gender

In [129]:
jobrole=label_encoder.fit_transform(data["JobRole"])

In [130]:
data["JobRole"]=jobrole

In [131]:
maritalstatus=label_encoder.fit_transform(data["MaritalStatus"])

In [132]:
data["MaritalStatus"]=maritalstatus

## **removing the columns**

In [148]:
data.isna().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
PercentSalaryHike          0
StockOptionLevel           0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [146]:
data.corr()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.159205,0.024751,-0.010846,0.006963,-0.035706,0.043194,-0.039352,-0.002884,0.011422,-0.095029,-0.044314,-0.033137,-0.031753,-0.027308,0.311309,0.216513,0.202089
Attrition,-0.159205,1.000000,0.000074,-0.048206,-0.009730,-0.015111,-0.057940,0.018125,-0.010290,0.025809,0.162070,-0.031176,0.032533,-0.006839,-0.049431,-0.134392,-0.033019,-0.156199
BusinessTravel,0.024751,0.000074,1.000000,-0.010982,0.024616,0.002755,-0.015462,-0.039243,0.046111,-0.027194,0.024001,-0.037597,-0.031054,0.003683,-0.041888,-0.014575,-0.032591,-0.022636
Department,-0.010846,-0.048206,-0.010982,1.000000,0.012134,-0.004597,0.013720,0.003158,0.002923,-0.025466,-0.044619,-0.032237,-0.007840,0.010512,0.012866,0.010078,0.014845,0.018016
DistanceFromHome,0.006963,-0.009730,0.024616,0.012134,1.000000,-0.008638,-0.024665,-0.044173,-0.037329,-0.010293,-0.027893,-0.021607,0.038125,0.011169,-0.009001,0.031684,0.002290,0.021584
Education,-0.035706,-0.015111,0.002755,-0.004597,-0.008638,1.000000,0.012329,-0.016547,0.045746,0.030155,0.024991,0.006410,-0.040531,0.001261,0.010472,0.006080,0.022490,0.005358
EducationField,0.043194,-0.057940,-0.015462,0.013720,-0.024665,0.012329,1.000000,-0.005634,-0.019528,0.013106,-0.051409,0.008858,-0.011214,0.021620,-0.021793,0.023120,0.048181,0.021664
Gender,-0.039352,0.018125,-0.039243,0.003158,-0.044173,-0.016547,-0.005634,1.000000,-0.026854,0.003724,-0.009132,0.007530,0.011841,0.019237,-0.030167,-0.017277,-0.021812,0.004438
JobLevel,-0.002884,-0.010290,0.046111,0.002923,-0.037329,0.045746,-0.019528,-0.026854,1.000000,-0.014763,-0.022021,0.047316,0.010973,0.000993,-0.032500,-0.064219,-0.060811,-0.055251
JobRole,0.011422,0.025809,-0.027194,-0.025466,-0.010293,0.030155,0.013106,0.003724,-0.014763,1.000000,0.022888,0.017072,-0.013465,0.023991,0.051744,-0.012886,-0.014635,0.010695
MaritalStatus,-0.095029,0.162070,0.024001,-0.044619,-0.027893,0.024991,-0.051409,-0.009132,-0.022021,0.022888,1.000000,-0.052383,0.006378,0.014745,0.012798,-0.059986,-0.030915,-0.038570
MonthlyIncome,-0.044314,-0.031176,-0.037597,-0.032237,-0.021607,0.006410,0.008858,0.007530,0.047316,0.017072,-0.052383,1.000000,0.004325,0.026930,0.050112,0.000995,0.065219,0.024304
PercentSalaryHike,-0.033137,0.032533,-0.031054,-0.007840,0.038125,-0.040531,-0.011214,0.011841,0.010973,-0.013465,0.006378,0.004325,1.000000,0.012548,-0.037392,-0.029707,-0.029542,-0.040864
StockOptionLevel,-0.031753,-0.006839,0.003683,0.010512,0.011169,0.001261,0.021620,0.019237,0.000993,0.023991,0.014745,0.026930,0.012548,1.000000,-0.069902,0.007886,0.019063,0.017757
TrainingTimesLastYear,-0.027308,-0.049431,-0.041888,0.012866,-0.009001,0.010472,-0.021793,-0.030167,-0.032500,0.051744,0.012798,0.050112,-0.037392,-0.069902,1.000000,-0.007894,0.016121,-0.013270
YearsAtCompany,0.311309,-0.134392,-0.014575,0.010078,0.031684,0.006080,0.023120,-0.017277,-0.064219,-0.012886,-0.059986,0.000995,-0.029707,0.007886,-0.007894,1.000000,0.618409,0.769212
YearsSinceLastPromotion,0.216513,-0.033019,-0.032591,0.014845,0.002290,0.022490,0.048181,-0.021812,-0.060811,-0.014635,-0.030915,0.065219,-0.029542,0.019063,0.016121,0.618409,1.000000,0.510224
YearsWithCurrManager,0.202089,-0.156199,-0.022636,0.018016,0.021584,0.005358,0.021664,0.004438,-0.055251,0.010695,-0.038570,0.024304,-0.040864,0.017757,-0.013270,0.769212,0.510224,1.000000

In [135]:
data.drop(["EmployeeID","Over18","StandardHours","EmployeeCount","TotalWorkingYears","NumCompaniesWorked"],axis=1,inplace=True)

In [147]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,0,1,0,1,131160,11,0,6,1,0,0
1,31,1,1,1,10,1,1,0,1,6,2,41890,23,1,3,5,1,4
2,32,0,1,1,17,4,4,1,4,7,1,193280,15,3,2,5,0,3
3,38,0,0,1,2,5,1,1,3,1,1,83210,11,3,5,8,7,5
4,32,0,2,1,10,1,3,1,1,7,2,23420,12,2,2,6,0,4

In [137]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'MonthlyIncome', 'PercentSalaryHike',
       'StockOptionLevel', 'TrainingTimesLastYear', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

## **performing the random forest**

In [138]:
from sklearn.ensemble import RandomForestClassifier

In [139]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [140]:
features=['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'MonthlyIncome', 'PercentSalaryHike',
       'StockOptionLevel', 'TrainingTimesLastYear', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [141]:
rf_model.fit(X=data[features],y=data["Attrition"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [142]:
print(rf_model.oob_score_)

1.0

In [144]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

Age 0.11944572603881884
BusinessTravel 0.032172445402755705
Department 0.029280316127602252
DistanceFromHome 0.08141522811967268
Education 0.04632630970646685
EducationField 0.04630258027931046
Gender 0.021618090506606447
JobLevel 0.04226434100178405
JobRole 0.06360992715968614
MaritalStatus 0.04312196521068205
MonthlyIncome 0.10873089246055079
PercentSalaryHike 0.0764582607827041
StockOptionLevel 0.039376967539389435
TrainingTimesLastYear 0.05074489416179916
YearsAtCompany 0.08559614766073333
YearsSinceLastPromotion 0.04939190156286622
YearsWithCurrManager 0.06414400627857153